body{
  background-color: #212529;
}
.fulltab{
  position: sticky;
  top: 50px;
  color: white;
  /* margin: auto; */
  margin-top: 55px;
  /* margin-bottom: 0; */
  /* display: block; */
  /* overflow-y: auto; */
  /* height: 150px; */
}

.pay{
}

.sql{
}

/* .filter{
  display: none;
} */

.filtering{
  margin-top: 45px;
  border: 2px red solid;
}
