body{
  background-color: #212529;
}
.bye{
  display: none;
}

.subClass{
  display: none;
}

.pay{
}

.sql{
}

#current{
  color: white;
}

.filtering{
  margin-top: 45px;
  border: 2px red solid;
}

#collapseExample input {
  margin: 0;
}

.card-space{
  width: 100%;
  padding: 0;
  border: 2px #ff8585 solid;
  background-color: inherit;
  color: #99f0a3;
}

.boxing{
  box-sizing: inherit;
}

ul.boxing{
  padding-inline-start: 5px;
  padding-right: 0;
}

main#list.col-16.col-md-9.col-xl-12.py-md-3.pl-md-5{
  padding-left: 10px!important;
}

.pl-md-5, .px-md-5 {
  padding-left: 0;
}

div.fulltab{
  position: sticky;
  z-index: 2;
  top: 55px;
  color: white;
  margin-top: 55px;
}
div.row{
  position: relative;
  z-index: 1;
}
#totalRows{
  margin-left: 20px;
  color: white;
}
a:not([href]):not([tabindex]) {
  color: #6ba4ff;
  cursor: pointer;
}
div.filterMenu a{
  color: #99f0a3;
}
div.filterMenu{
  position: fixed;
  max-width: inherit;
}
