body{
  background-color: #212529;
}
.fulltab{
  position: sticky;
  top: 60px;
  color: white;
  margin-top: 60px;
}
.bye{
  display: none;
}

.subClass{
  display: none;
}

.pay{
}

.sql{
}

#current{
  color: white;
}

.filtering{
  margin-top: 45px;
  border: 2px red solid;
}
