<% include ../partials/header %>

<div class="fulltab">
  <h1>This is the filter page</h1>
</div>
<div class="dropdown">
  <select class="btn btn-secondary" id="dropdownMenuButton" onChange="testMe(value)">
    <option value="" default>Please Select</option>
    <option class="dropdown-item" href="#" value="actionInfo">Action</option>
    <option class="dropdown-item" href="#" value="anoActionInfo">Another action</option>
    <option class="dropdown-item" href="#" value="someInfo">Something else here</option>
  </select>
  <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->

  <!-- </div> -->
</div>

<% include ../partials/footer %>

<%  %>
