<% include ../partials/header %>
  <div class="">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Converting Log Files into Readable Documents</h1>
        <p class="lead">This was created to help Support</p>
        <hr class="my-4">
        <p>This is a 2 step process: <br>1) Create a cleaner document<br>2) Provide Readable Data</p>
        <form class="" action="/upload" method="POST" encType="multipart/form-data">
          <input type="file" name="datafile" size="40"  multiple><br>
          <button type="submit" name="button">Clean This!</button>
        </form>
      </div>
    </div>
  </div>

<% include ../partials/footer %>
